<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">

	<title>One wener, one dream.</title>

	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link href='//cdnjs.cloudflare.com/ajax/libs/normalize/2.1.3/normalize.min.css' rel='stylesheet'>
	<link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
	<link href='styles/style.css' rel='stylesheet'>
</head>

<body>

<header id="header">
	<div id="header-container">
		<h1>
			<a href="#">Wener</a>
		</h1>

		<nav id="site-nav">
			<a href="#">wener</a>
			<a href="#">About</a>
			<a href="#">Porject</a>
		</nav>
	</div>
</header>
<!-- #end-header -->

<div id="main-wrap">
	<div id="content">
		<article class="post">
			<header>
				<h1>The simple post</h1>
				<aside class="post-details">
					<ul>
						<li>AUthor</li>
						<li>2013/12/8</li>
					</ul>
				</aside>
			</header>
			<!-- #end header -->
			<div class="post-intro">
				<p>
					Tellets is all installed and ready to go.
					Life is good when there are no confusing databases or admins to worry about.
					Now all you have to do is publish your first post. To do that, just follow
					[these instructions](https://github.com/WenerLove/tellets/blob/master/README.md).
					Or, if you already know how to use Tellets, just publish your first post to delete this message.
				</p>

			</div>
			<!-- #end intro -->
			<div class="post-meta">
				<span class="tag-container">Tags: <a class="tag" href="#">Tag</a><a class="tag" href="#">Tag</a></span>
				<a href="#" class="read-more">READ MORE</a>
			</div>
		</article>
		<!-- #end  -->

		<div class="pagination">
			<a href="#" class="prev-page">&lt; Newer Posts</a>
			<a href="#" class="next-page">Older Posts &gt;</a>
		</div>
	</div>
	<!-- #end-content -->
</div>
<!-- #end-header -->

<footer id="footer">

</footer>
<!-- #end-header -->
</body>
</html>
